@model MyCMS.Models.Vendor

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background-color:lavender">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CUSTOMER DASHBOARD</title>
</head>
<body>
    <h4>WELCOME</h4>
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td> : </td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr></tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td> : </td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr></tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td> : </td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr></tr>

    </table>

    <div>
        <button1 style="color:aquamarine">
            @Html.ActionLink("Edit Details", "Edit" ,"Vendors", new { id = Model.Id }, new { @class = "navbar-brand" })
        </button1>
        <br />
        <button2>
            @Html.ActionLink("BACK ", "VendorDashboard", "Vendors", new { id = Model.Id }, new { @class = "navbar-brand" })
        </button2>
    </div>
</body>
</html>